<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Главная страница</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>


    <div class="container mt-5">
        <h1>Файлы</h1>
        <form method="get" enctype="multipart/form-data">
        <div th:each = "el : ${fileInfo}">
            <input type="checkbox" th:value="${el[0]}" th:name="nameList"/>
        <a th:text = "${el[0]} + ' ' +  ${el[1]} + ' ' +  ${el[2]} + ' ' +  ${el[3]} + ' ' +  ${el[4]}"/>
            <a th:href="'/' + ${el[0]}">О файле</a>
            <a th:href="'/d/' + ${el[0]}">Скачать</a>
            <a th:href="'/remove/' + ${el[0]}">Удалить</a>
        </div>
            <button formaction="/da" type="submit">Скачать файлы</button>
            <button formaction="/json" type="submit">Получить JSON</button>
        </form>

        <div>Фильтр
            <form method="get">
                <input type="text" name="info">
                <input type="date" name="fromD"/>
                <input type="date" name="toD"/>
                <select name="type">
                    <option value = "">All</option>
                    <option th:each = "el : ${dataTypes}" th:text ="${el}" th:value ="${el}"></option>
                </select>
                <button type="submit">Поиск</button>
                <button formaction="/json/filter" type="submit">Результат в виде JSON</button>
            </form>
        </div>
        <form method="get">
        <button formaction="/json/fileList" type="submit">Получить список имён файлов JSON</button>
        </form>
        <p><a href="/Upload">Загрузить файлы</a></p>
        <p text="" th:text="${errInfo}"/>
    </div>




</body>
</html>