<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>


    <div class="container mt-5">
        <h1>Файлы</h1>
        <form method="post" enctype="multipart/form-data">
            <input type="file" name="file"/>
            <button type="submit">Загрузить</button>
            <p text="" th:text="${errInfo}"/>
        </form>
        <p/>
        <div th:each = "el : ${fileInfo}">
        <a th:text = "${el[0]} + ' ' +  ${el[1]} + ' ' +  ${el[2]} + ' ' +  ${el[3]} + ' ' +  ${el[4]}"/>
            <a th:href="'/' + ${el[0]}">О файле</a>
            <a th:href="'/d/' + ${el[0]}">Скачать</a>
            <a th:href="'/remove/' + ${el[0]}">Удалить</a>
        </div>
        <div>Фильтр
            <form method="get">
                <input type="text" name="info">
                <input type="date" name="fromD"/>
                <input type="date" name="toD"/>
                <select name="type">
                    <option value = "">All</option>
                    <option th:each = "el : ${dataTypes}" th:text ="${el}" th:value ="${el}"></option>
                </select>
                <button type="submit">Поиск</button>
            </form>
        </div>
    </div>



</body>
</html>