<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>О файле</title>
</head>
<body>
 <div th:each="el :${File}" class="alert alert-info mt-2">
     <h1>О файле</h1>
     <h3 th:text="${el.getTitle()}"/>
     <h3 th:text="${el.getUploadDate().toString()}"/>
     <h3 th:text="${el.getChangeDate().toString()}"/>
     <h3 th:text="${el.getType()}"/>
     <h3 th:text="${el.getSize().toString()}"/>
     <div>


         <form method="post"> 
             <input type="text" th:value="${el.getTitle()}" name="rename"/>
             <button type="submit"> Переименовать файл </button>
         </form>  
     </div>
 </div>
</body>
</html>